@import '@/assets/scss/_main';
.container{
    display: flex;
    justify-content: center;
    align-items: center;
   

    
    
}

.title-icon{
    padding-top: 40px;
}
.title-content{
    text-align: center;
    align-items: center;
}

