@import "@/assets/scss/_main";

.mensagem-wrapper {
  display: flex;
  flex-direction: column;
  margin: 2rem 12rem;
  border-radius: 0.8rem;
  padding: 1rem;
  background-color: $light-gray;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.2);

  .mensagem-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .mensagem-mensagem {
    background-color: $message-ligher-gray;
    padding: 1rem 2rem 2rem 2rem;
    border-radius: 0.8rem;
  }

  .mensagem-nome {
    display: flex;
    flex-direction: row;
  }

  .mensagem-pdf {
    button {
      width: 12rem;
      padding: 0.6rem;
      margin-left: 1rem;
      cursor: pointer;
      border-radius: 0.8rem;
      background: $light-blue;
      color: $white;
      border: 0;
      transition: 0.2s;
    }

    button:hover {
      background: $message-lighter-blue;
      border: 0.1rem solid $primary-blue;
      color: $primary-blue;
    }

    button:focus {
      outline: none;
    }
  }

  .mensagem-votos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .votos {
      display: flex;
      flex-direction: row;
      margin-bottom: 2rem;

      .voto {
        margin-left: 2rem;
      }
    }
  }
}

.wrapper-blue {
  background-color: $message-blue;
}

.mensagem-blue {
  background-color: $message-lighter-blue !important;
}
