$white: #ffffff;
$black: #212121;
$light-gray: #bdbdbd;
$primary-blue: #303f9f;
$light-blue: #3f51b5;
$lighter-blue: #c5cae9;

$message-blue: #c5cbe8;
$message-lighter-blue: #e9edf8;
$message-ligher-gray: #e6e5e7;
